.homePage {
    background-color: #c1baba;
}

.header {
    padding: 10px;
    text-align: center;
}

.content {
    padding: 40px;
    text-align: center;
}

.content-header {
    text-align: center;
}

.content-suggestions {
    padding: 5% 10% 5% 40%;
}

.suggest-content {
    text-align: left;
}


.padding-right {
    padding-right: 1%;
}

.content-result {
    display: flex;
    justify-content: center;
    padding: 2%;
}
